html{
    scroll-behavior: smooth;
}

body {

    background-color:white !important;
    color:black !important;
    overflow-x : hidden;
}


.top {
   height:100vh;
   width:100vw;
    background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2012/08/06/9482/e2a5a109c5834524486cb134716a71b4.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size:35;
}

.nav-item :hover{
    background-color:#0071e3;
  
}

.nav-item .nav-link:hover
{
    color:white;
}

.meet
{ 
    font-size: 2em;
    padding-left: 10%;
    padding-top:15%;
    margin: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color:#F6F1F1;
}

p.firstpara{

    padding-top: 1% ;
    padding-left: 10%;
    margin:0;
    color:#F6F1F1;
}

.about{
    text-align: center;
    margin: 50px 0px 50px 0px ;
}

.about-me{
    margin-left:40%;
    border: 3px solid black;
    background-color: #0071e3;
    width:20%;
}


.middle{
   text-align: center;
   line-height: 2;
   
}

.skills{
    margin-left:40%;
    border: 3px solid black;
    background-color: #0071e3;
    width:20%;
}

.first{
    width:50%;
    margin:100px auto;
    text-align: left;
}
.design{
  position:relative;
    height: 150px;
    width:150px;
    float:left;
    margin-right:25px;
}

.second{
    width:50%;
    margin:100px auto;
    text-align: left;


}
.dance{
    position:relative;

    height: 150px;
    width:150px;
    float:right;
    margin-left:25px;
}
.third{
    width:50%;
    margin:100px auto;
    text-align: left;
  
}
.football{
    position:relative;
    height: 150px;
    width:150px;
    float:left;
    margin-right:25px;
}


.bottom{
    text-align: center;
    background-color:black;
    color:white;
}


.insta{
    text-align: center;
    height:25px;
    width:25px;

}

.linkedin{
    text-align: center;
    height:25px;
    width:25px;
}

h3{
    color:forestgreen;
    font-family: 'Rokkitt', serif;
    font-size:25px;
}
h1{
    font-family: 'Rokkitt', serif;
    font-size: 0.5em;
}

.line{
    width:5%;
    border-style:dotted;
    border-width:4px 0px 0px 0px;
    border-color:black;
    margin:40px auto;
}
h2{

    font-family: 'Rokkitt', serif;
    font-size:25px;
}

.button{
   background-color:#0071e3 ;
   color:black;
   font-weight: bold;
   border-radius:0.1cm;
}

.button:hover{
    background-color:rgb(122, 177, 221);
}